<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="AppiumMobileSuite"
	skipfailedinvocationcounts="false" junit="false" parallel="false"
	data-provider-thread-count="50" annotations="JDK">

	<!-- 测试 -->
    <test name="appium-mobile-test"> 
        <classes>
            <class name="com.jdd.game.android.suites.MyTest">
                <methods>
                    <include name="test1" />
                </methods>
            </class>
        </classes>
    </test>

</suite>
